<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="title">Title: </label>
    <input id="title" th:type="text" th:field="*{title}">
    <br/>
    <label for="author">Author: </label>
    <input id="author" th:type="text" th:field="*{author}">
    <br/>
    <label for="product_year">Year: </label>
    <input id="product_year" th:type="text" th:field="*{product_year}">
    <br/>
    <input type="submit" value="CHANGE">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить!">
</form>
</body>
</html>