<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Info</title>
</head>
<body>
<div th:text="'Title: '+ ${book.getTitle()}">Title</div>
<div th:text="'Author: '+ ${book.getAuthor()}">Author</div>
<div th:text="'Year: '+ ${book.getProduct_year()}">Year</div>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit book info</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить!">
</body>
</html>