<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Info</title>
</head>
<body>
<div th:text="'Title: '+ ${book.getTitle()}">Title</div>
<div th:text="'Author: '+ ${book.getAuthor()}">Author</div>
<div th:text="'Year of release: '+ ${book.getProduct_year()}">Year</div>

<div th:if="${not #lists.isEmpty(takenPerson)}">
    <form th:method="DELETE" th:action="@{/books/{book_id}/{person_id}(book_id=${book.getId()}, person_id=${takenPerson.getId()})}">
        <label th:text="'Taken by: ' + ${takenPerson.getFio()}">Taken by: </label>
        <input type="submit" value="Redeem">
    </form>
</div>

<div th:unless="${not #lists.isEmpty(takenPerson)}">
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="person">Choose a User:</label>
        <select id="person" th:object="${person}" th:field="*{id}">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFio()}"></option>
        </select>
        <input type="submit" value="Add"/>
    </form>
</div>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit book info</a>

</body>
</html>